#content {
  padding: 20px 20px 57px 20px;
  width: 1212px;
  margin: 0 auto;
}

#content .grid_layout {
  display: grid;
  grid-template-columns: 232px auto;
  column-gap: 60px;
}

.tit_h3 {
  display: flex;
  align-items: center;
}
.tit_h3 img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.tit_h4 {
  margin-top: 23px;
}

@media screen and (max-width:1230px) {
  #content {
    width: 100%;
  }
}

/* 타블렛 */
@media screen and (max-width:1023px) {
  #content {
    padding: 20px 14px 57px 14px;
  }
  #content {
    padding: 20px 0;
  }

  #content .grid_layout {
    display: block;
  }

  .tit_h4 {
    margin-top: 18px;
  }
}


/* 모바일 */
@media screen and (max-width:767px) {}